* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background: url("adrian-curiel-1XVpwAHlSNs-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 48px;
    text-shadow: -1px -1px #000, 1px 1px #000, -3px 0 4px #000;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    color: greenyellow;
    margin: 20px 0 0;
}

.container {
    width: 90vw;
    height: auto;
    margin: 0;
}

.text-center {
    text-align: center;
}

.square {
    background-image: url("football.png");
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    position: absolute;
}

#btns {
    margin-top: 2%;
}

/* Buttoons */

/* button {
    margin-left: 20px;
    border-radius: 5px;
    width: 200px;
    height: 60px;
} */

button {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  

  button:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }


  

.footballPitch {
    display: flex;
}

.posts {
    margin-top: 10%;
    background-image: url("footballPosts.png");
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    height: 60vh;
    width: 30vw;
}

.posts2 {
    margin-top: 10%;
    margin-right: 0;
    background-image: url("footballPosts.png");
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    height: 60vh;
    width: 30vw;
    -webkit-transform: scaleX(-1);
    /* transform: scaleX(-1); */
    position: relative;
    left: 30vw;
    z-index: -1;

}